@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Muli", sans-serif;
}

a {
    text-decoration: none;
    list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 p {
    font-family: "Fira Sans", sans-serif;
}

.career-banner {
    position: relative;
    /* margin-top: 200px; */
}

.career-banner .overlay-content {
    position: absolute;
    top: 40%;
    right: 14%;
}

.career-banner .overlay-content h2 {
    font-size: 54px;
    color: #043d72;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

.career-banner .overlay-content h1 {
    font-size: 54px;
    color: #043d72;
    font-weight: 600;
    text-align: right;
    font-family: 'Oswald', sans-serif;
}

.career-container .career-wrapper {
    margin-top: -125px;
    padding: 50px;
    height: auto;
    z-index: 11;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
    box-shadow: 0 10px 30px rgb(0 0 0 / 7%);
}

.career-container .career-wrapper h6 {
    display: block;
    text-transform: uppercase;
    color: #f70101;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
}

.career-container .career-wrapper h2 {
    margin-bottom: 0;
    line-height: 1.3;
    font-size: 42px;
    font-weight: 400;
    font-family: "Anton", sans-serif;
    color: #130947;
    margin-bottom: 20px;
}

.career-container .career-wrapper p {
    color: #6d7a8c;
    line-height: 1.8;
    margin-bottom: 12px;
    font-size: 16.5px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
}

.career-container .career-wrapper .input-group {
    width: 100%;
    margin-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #F4F4F4;
}

.career-container .career-wrapper .input-group .icon {
    width: 40px;
    text-align: center;
    color: #fd6e6e;
    font-size: 17px;
    border-right: 1px solid #f70101;
}

.career-container .career-wrapper .input-group input {
    width: 89%;
    height: 40px;
    background-color: #F4F4F4;
    border: none;
    outline: none;
}

.career-container .career-wrapper .input-group input[type="file"] {
    appearance: none;
    border: none!important;
}

.form-control {
    border: none;
    border: none;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 0;
    padding-top: 1px;
    padding-right: 0;
    padding-bottom: 0;
}

.career-container .career-wrapper .input-group select {
    width: 88%;
    height: 40px;
    margin-right: 10px;
    background-color: #F4F4F4;
    border: none;
    outline: none;
    color: #464646;
    font-size: 15px;
}

.career-container .career-wrapper button {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    margin: 30px auto 0 auto;
    text-transform: uppercase;
    padding: 15px 25px 16px 20px;
    box-shadow: 0px 5px 28.5px 1.5px rgb(254 35 9 / 10%) !important;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #f70101;
    border-radius: 30px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.career-container .career-wrapper button:hover {
    background-color: #130947;
}

.career-container .career-wrapper button:hover .icon {
    background-color: #fff;
    color: #130947;
}

.career-container .career-wrapper button .icon {
    height: 35px;
    position: absolute;
    right: 10px;
    width: 35px;
    line-height: 35px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #130947;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    .career-container .career-wrapper .input-group input {
        width: 80%;
    }
    .career-container .career-wrapper .input-group select {
        width: 80%;
    }
    .career-container .career-wrapper {
        margin-top: 25px;
    }
    .career-banner .overlay-content h2 {
        font-size: 30px;
    }
}

@media(max-width:768px) {    
    .career-container .career-wrapper h2 {
        line-height: 1.3;
        font-size: 25px;
        font-weight: 400;
    }
    .cta-area h2 {
        line-height: 1.3;
        font-size: 28px;

    }   
}