
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #130947;
    font-size: 16px;
    font-family: "Muli", sans-serif;
}

a {
    text-decoration: none;
    list-style: none;
}

.find-location {
    background-color: #fff;
    padding: 50px 0;
}

.find-location h2 {
    font-size: 40px;
    font-weight: 400;
    font-family: Anton, sans-serif;
    color: #130947;
    text-align: center;
}

.find-location .research-box {
    margin: 0px 10px 40px 10px;
    overflow: hidden;
    -webkit-box-shadow: 10px 13px 10px -7px rgb(0 0 0 / 10%);
    box-shadow: 10px 13px 10px -7px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.find-location .research-box .research-box-bg {
    width: 100%;
    height: 235px;
    object-fit: cover;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #ffffff;
    margin: 0px 10px 0px 10px;
    -webkit-box-shadow: 10px 13px 10px -7px rgb(0 0 0 / 10%);
    box-shadow: 10px 13px 10px -7px rgb(0 0 0 / 10%);
}

.find-location .research-box .research-box-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.find-location .research-box .research-info {
    z-index: 2;
    background-color: #ffffff;
    padding: 15px 25px;
    text-align: center;
}

.find-location .research-box .research-info h4 {
    display: block;
    color: #f70101;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

.find-location .research-box .research-info p {
    font-size: 13px;
    color: #3b3b3b;
}

.find-location .research-box .research-info a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    margin-top: 12px;
}

.find-location .research-box .research-info .title {
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 17px;
    padding: 3px 0;
    font-weight: 500;
    background: #1C6FAD;
    color: #fff;
    border-radius: 3px;
}

.find-location .research-box .research-info .title a {
    color: #fff;
    font-weight: 700;
}


/* .find-location .research-box .research-box-bg:hover{
    height: auto;
    background-image: url(../find-location/assets/Colborne-Brantford.jpg);
    background-size: cover;
    background-position: center center;
    transition: 1s all;
} */


/* .find-location .research-box .research-image.bg1 {
    background-image: url(../find-location/assets/Colborne-Brantford.jpg);
}
.find-location .research-box .research-image.bg1 {
    visibility: hidden;
    width: 100%;
    height: 235px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.find-location .research-box .research-img-hover.bg1 {
    background-image: url(../find-location/find-location.jpg);
}
.find-location .research-box .research-img-hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    position: absolute;
    height: 295px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */

.foothours {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.foothours li {
    float: left;
    width: 100%;
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 13px !important;
    font-family: "Fira Sans", sans-serif;
    /* font-weight: 500; */
}

.footdayfootloct-two {
    float: left;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
}

.foottime {
    float: right;
    width: 100%;
    margin-left: -100px;
    padding-left: 120px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Fira Sans", sans-serif;
}

.location-text{
    font-weight: 300;
    font-size: 15px !important;
    font-family: "Fira Sans", sans-serif;
}

.review-section {
    padding: 40px 0;
}

.gallery-section {
    height: auto;
    background-image: url(../find-location/assets/bg-white.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-section h2 {
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 42px;
    font-weight: 400;
    font-family: "Anton", sans-serif;
    text-align: center;
}

.swiper-slide {
    padding: 125px 0 0 0;
}

.swiper-slide .item-box {
    height: 250px;
    width: 100%;
    margin-bottom: 40px;
    color: #e3edff;
    text-align: center;
    position: relative;
}

.swiper-slide .item-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.breadcrum-img.about-bg {
    background-color: #ebf8ff;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
}

.bg-col-change {
    padding-top: 15px;
}

/* .pad-color {
    padding: 24px 30px 19px 35px;
} */

.cl-new {
    font-size: 22px;
}

.hizmet-kutu3 .kutu-duzen3 {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 30px 14px 14px 14px;
    border-radius: 0px;
    transition: all 300ms ease;
    background: #1c6fad;
}

.hizmet-kutu3 .kutu-duzen3 .icon-box {
    position: relative;
    display: inline-block;
    margin-bottom: 33px;
}

.hizmet-kutu3 .kutu-duzen3 .icon-box img {
    position: relative;
    display: inline-block;
    font-size: 80px;
    background: #fff;
    width: 100px;
    height: 100px;
    line-height: 130px;
    text-align: center;
    border-radius: 50%;
    color: #56BAD8;
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    transition: all 500ms ease;
}

.hizmet-kutu3 .kutu-duzen3 .icon-box .border-layer {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -10px;
    top: -10px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 500ms ease;
    -webkit-animation: hizmet-rot 2s infinite linear;
    -moz-animation: hizmet-rot 2s infinite linear;
    -o-animation: hizmet-rot 2s infinite linear;
    animation: hizmet-rot 2s infinite linear;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.hizmet-kutu3 .kutu-duzen3 h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Roboto';
}

.locationabout-callbtn {
    font-weight: 500;
    padding: 10px 40px;
    background-color: #fff;
    color: #1e61a6;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
}

p.h-tes {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 23px;
}


.owl-two button.owl-prev {
    position: absolute;
    top: 130px;
    color: #fff!important;
    font-size: 50px!important;
    left: -59px;
}
.owl-two button.owl-next {
    position: absolute;
    top: 130px;
    color: #fff!important;
     font-size: 50px!important;
    right: -59px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #86979100;
    color: #FFF;
    text-decoration: none;
}
.owl-three button.owl-prev {
    position: absolute;
    top: 52px;
    color: #000!important;
    font-size: 60px!important;
    left: -59px;
}
.owl-three button.owl-next {
    position: absolute;
    top: 52px;
    color: #000!important;
    font-size: 60px!important;
    right: -59px;
}
